<div ng-controller="HomeController">
    <div class="row header">
        <div class="col-md-5">
            <h4 class="logo">
                <a href="" ui-sref="Home">StayHealthyWorld</a>
            </h4>
        </div>
        @Html.Hidden("UserId", Session["UserId"])
        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{UserDetail.FirstName}} {{UserDetail.LastName}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" ui-sref="MyMeasurement"><i class="lnr lnr-cog"></i> <span>My Measurement</span></a></li>
                        <li><a href="@Url.Action("Logout", "Home")"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view>
    </div>
</div>
<style type="text/css">
    .header {
        /*background-color: rgb(0, 230, 230);*/
        background: #6dd5ed; /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #6dd5ed, #2193b0);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .logo {
        padding-left: 25px;
    }

        .logo a {
            color: white;
            text-decoration: none;
        }

    .loginbtn {
        background: #6dd5ed; /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
        background: linear-gradient(to right, #6dd5ed, #2193b0);*/
        color: white;
    }

        .loginbtn:hover {
            /*color: rgb(0, 230, 230);*/
            background-color: white;
        }

    .forgotPasswordLink {
        color: white;
    }

    .middleSection {
        background-color: white;
    }

    body {
        min-height: 100vh;
        position: relative;
        margin: 0;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .pt-10 {
        padding-top: 10px;
    }

    .footer .footerLine {
        border-top: 1px solid black;
    }

    footer ul {
        float: right;
        padding-left: 0;
        margin-bottom: 0;
    }

        footer ul li {
            float: left;
            list-style-type: none;
        }


    .pull-right {
        float: right !important;
    }


    input.input-validation-error,
    textarea.input-validation-error,
    select.input-validation-error {
        border-color: red;
    }

    .red {
        color: red;
    }

    .h2 {
        margin-top: 0px;
    }

    .h4 {
        font-size: 22px;
    }

    .navbar-right {
        /*margin-right: 50px;*/
    }

    .navbar-nav > li > a {
        background: #6dd5ed;
        color: white;
        padding-top: 4px;
        padding-right: 10px;
    }

        .navbar-nav > li > a:hover {
            background: #6dd5ed;
            color: white;
        }

    /*.navbar-nav > li > a{
            background: #6dd5ed;
            color: white;
        }*/

    .row {
        margin: 0px;
    }
</style>
